.profile{
  display:flex;
  height: 80vh;
  flex-direction: column;
  align-items:center;

  background-repeat:no-repeat;
  background-size:cover;

}
.form-profilesignup{
  text-align: center;
  background-color:blue;
  border-radius: 0.4em;
  color:white;
}
