.tops{
  display:flex;
  background-color:#36393E;
  width:100%;
  height:65vh;
  margin-top: 0px;
  border: 1px solid black;
  color:white;
}
.top-left{
  padding-left: 10px;
}
.top-right{
  text-align:center;
}
#center{
  text-align:center;
}
.bottom{
  text-align:center;
}

