<div class="footer">
  <div class="upper-top">
    <ul>
      <li>Follow Us</li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      <div class="push">
      <li><a href="#">Company</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Career</a></li>
      <li><a href="#">Contact Us</a></li>
    </div>
    </ul>
  </div>
</div>
