
<div class="top">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3 id="feature"> Featured Top Music Pick</h3>
        <video controls loop onmouseover="this.play()" onmouseout="this.pause()" loop id="myVideo">
          <source src="https://r3---sn-uxa0n-tm3e.googlevideo.com/videoplayback?expire=1567451054&ei=ThNtXZ2gB4SM1wLRt62AAw&ip=95.211.102.251&id=o-ACv06WryunyqyoXPooMR3E1Ae04EfVKC6fYzgYsHzLXb&itag=18&source=youtube&requiressl=yes&mime=video%2Fmp4&gir=yes&clen=18070731&ratebypass=yes&dur=243.855&lmt=1538099776967502&fvip=2&c=WEB&txp=5531332&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIhAN-021zgOUrhJIMzlmjAk-HGCVIrCwX-jstqThvXcgyqAiAHN7zVkGXYvzRKOqPwKIeuN5K9k5nlDPNjonXQitvXng==&title=Sean+Paul+%26amp%3B+Major+Lazer+-+Tip+Pon+It&redirect_counter=1&rm=sn-5hneed7l&req_id=57f36eef9378a3ee&cms_redirect=yes&ipbypass=yes&mip=207.134.138.186&mm=31&mn=sn-uxa0n-tm3e&ms=au&mt=1567429315&mv=m&mvi=2&pl=21&lsparams=ipbypass,mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRQIhAPiRtliH7gH7-AJcIgUgjsmoX_GbT8wk_MWQg1CYfv3-AiBjgosSQp1tl1KWvgZuPfIDzqkuDf19UcfcbPbcOUIUvQ==">
        </video>
       </div>
      <div class="carousel-item">
        <h3 id="feature">Featured Up and Coming Music Pick</h3>
        <video controls loop onmouseover="this.play()" onmouseout="this.pause()" loop id="myVideo">
          <source src="https://r3---sn-uxa0n-tm3e.googlevideo.com/videoplayback?expire=1567451054&ei=ThNtXZ2gB4SM1wLRt62AAw&ip=95.211.102.251&id=o-ACv06WryunyqyoXPooMR3E1Ae04EfVKC6fYzgYsHzLXb&itag=18&source=youtube&requiressl=yes&mime=video%2Fmp4&gir=yes&clen=18070731&ratebypass=yes&dur=243.855&lmt=1538099776967502&fvip=2&c=WEB&txp=5531332&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIhAN-021zgOUrhJIMzlmjAk-HGCVIrCwX-jstqThvXcgyqAiAHN7zVkGXYvzRKOqPwKIeuN5K9k5nlDPNjonXQitvXng==&title=Sean+Paul+%26amp%3B+Major+Lazer+-+Tip+Pon+It&redirect_counter=1&rm=sn-5hneed7l&req_id=57f36eef9378a3ee&cms_redirect=yes&ipbypass=yes&mip=207.134.138.186&mm=31&mn=sn-uxa0n-tm3e&ms=au&mt=1567429315&mv=m&mvi=2&pl=21&lsparams=ipbypass,mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRQIhAPiRtliH7gH7-AJcIgUgjsmoX_GbT8wk_MWQg1CYfv3-AiBjgosSQp1tl1KWvgZuPfIDzqkuDf19UcfcbPbcOUIUvQ==">
        </video>
      </div>
      <div class="carousel-item">
        <h3 id="feature">Featured New Music Pick</h3>
        <video controls loop onmouseover="this.play()" onmouseout="this.pause()" loop id="myVideo">
          <source src="https://r3---sn-uxa0n-tm3e.googlevideo.com/videoplayback?expire=1567451054&ei=ThNtXZ2gB4SM1wLRt62AAw&ip=95.211.102.251&id=o-ACv06WryunyqyoXPooMR3E1Ae04EfVKC6fYzgYsHzLXb&itag=18&source=youtube&requiressl=yes&mime=video%2Fmp4&gir=yes&clen=18070731&ratebypass=yes&dur=243.855&lmt=1538099776967502&fvip=2&c=WEB&txp=5531332&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIhAN-021zgOUrhJIMzlmjAk-HGCVIrCwX-jstqThvXcgyqAiAHN7zVkGXYvzRKOqPwKIeuN5K9k5nlDPNjonXQitvXng==&title=Sean+Paul+%26amp%3B+Major+Lazer+-+Tip+Pon+It&redirect_counter=1&rm=sn-5hneed7l&req_id=57f36eef9378a3ee&cms_redirect=yes&ipbypass=yes&mip=207.134.138.186&mm=31&mn=sn-uxa0n-tm3e&ms=au&mt=1567429315&mv=m&mvi=2&pl=21&lsparams=ipbypass,mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRQIhAPiRtliH7gH7-AJcIgUgjsmoX_GbT8wk_MWQg1CYfv3-AiBjgosSQp1tl1KWvgZuPfIDzqkuDf19UcfcbPbcOUIUvQ==">
        </video>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="middle">
          <a href="#"><p>Open genre</p></a>
          <a href="#"><p>Blue & Jazz</p></a>
          <a href="#"><p>Classical</p></a>
          <a href="#"><p>Country</p></a>
          <a href="#"><p>Dubstep</p></a>
          <a href="#"><p>EDM</p></a>
          <a href="#"><p>Techno</p></a>
          <a href="#"><p>House</p></a>
          <a href="#"><p>Rock</p></a>

</div>




<div class="bottom">

      <h3>Share your music today!</h3>
      <p>Listen, discover and connect with up and coming music</p>
      <%=link_to "Sign Up - It's Free!", new_user_registration_path, class: "button" %>
    </div>
</div>
</div>
